@keyframes scroll {
  from {
    transform: translate3d(-15%, 100%, 0);
  }
  to {
    transform: translate3d(15%, 100%, 0);
  }
}

body {
  background: #EDEAE3;
  border: 0;
  color: #2F4858;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a,
a:visited,
a:link,
a:hover {
  color: #2F4858;
}

p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper {
  display: block;
  margin: 0;
  position: relative;
  width: auto;
}

svg text {
  fill: #2F4858;
}

.assets {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0;
}

/* Header */

header {
  display: block;
  margin: 80px 20px;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto 40px auto;
  text-align: center;
}

/* Texts */

.text {
  display: block;
  margin: 40px 20px;
  width: auto;
}

.text .title {
  font-size: 16px;
  font-weight: 900;
  margin: 0 0 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.text .glossario p,
.text .body p {
  margin: 0 0 20px 0;
}

.text .body p:last-child {
  margin-bottom: 0;
}

.text h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 40px 0 0 0;
  text-align: left;
  text-transform: uppercase;
}

.text h4:first-child {
  margin-top: 0;
}

.text .body p strong {
  background: #FDF9F0;
  box-shadow: 0 0 0 2px #FDF9F0;
  font-weight: 700;
}

/* Footer */

.footer {
  background: #2F4858;
  border: 0;
  color: #EDEAE3;
  display: block;
  margin-top: 80px;
  padding: 80px 0;
  width: auto;
}

.sources {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  width: auto;
}

.cols {
  display: block;
  margin: 0 20px;
  width: auto;
}

/* Charts */

.chart-wrapper {
  display: block;
  margin: 0 0 80px 0;
  position: relative;
}

.chart-wrapper.scroll::after {
  animation-name: scroll;
  animation-duration: .75s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  bottom: 0;
  content: '← Scroll →';
  display: block;
  font-size: 12px;
  font-weight: 600;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  transform: translate3d(-50%, 100%, 0);
}

.chart-all {
  display: block;
  height: auto;
  margin: 0 0 80px 0;
  max-width: 100%;
  overflow: scroll;
  padding: 15px 0 30px 0;
  position: relative;
  width: 100%;
}

/* Lollipop */

.lollipop .chart {
  display: block;
}

.lollipop .chart .line-legend {
  width: 100%;
}

.lollipop .chart .line-line-2,
.lollipop .chart .line-line {
  fill: none;
  stroke-width: 1;
  stroke-dasharray: 4 4;
}

.lollipop .chart .line-line-2 {
  stroke: #0084C4;
}

.lollipop .chart .line-dot-ab,
.lollipop .chart .line-dot {
  fill: #fff;
  stroke: #2F4858;
  stroke-width: 1;
}

.lollipop .chart .line-dot-ab {
  stroke: #0084C4;
}

.lollipop .chart .line-label-ab,
.lollipop .chart .line-axis-label,
.lollipop .chart .line-label {
  alignment-baseline: bottom;
  font-size: 12px;
}

.lollipop .chart .line-label-ab {
  fill: #0084C4;
}

.lollipop .chart .line-axis-label {
  alignment-baseline: top;
  font-size: 14px;
  font-weight: 500;
  text-anchor: middle;
}

.lollipop .chart .line-guide-ab,
.lollipop .chart .line-guide {
  stroke: #2F4858;
  stroke-width: 1;
  stroke-dasharray: none;
}

.lollipop .chart .line-guide-ab {
  stroke: #0084C4;
  stroke-dasharray: 1 2;
}

.lollipop .chart .line-legend {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.lollipop .chart .line-legend .legend-residente {
  color: #0084C4;
  font-size: 14px;
  padding: 0 10px;
}

.lollipop .chart .line-legend .legend-auto {
  font-size: 14px;
  padding: 0 10px;
}




/* Parallel */
/* Interactions */
.parallel .chart[data-selected="EURO0"] .summary[data-category="cat-EURO0"],
.parallel .chart[data-selected="EURO0"] .row-header[data-category="cat-EURO0"] {
  font-weight: 700;
}
.parallel .chart[data-selected="EURO0"] .connector[data-category="cat-EURO0"] .connector {
  stroke-width: 2;
  stroke-dasharray: none;
}
.parallel .chart[data-selected="EURO0"] .bar-label[data-category="cat-EURO0"] {
  opacity: 1;
}
.parallel .chart[data-selected="EURO0"] .bar[data-category="cat-EURO0"] {
  stroke-width: 2;
}
.parallel .chart[data-selected="EURO1"] .summary[data-category="cat-EURO1"],
.parallel .chart[data-selected="EURO1"] .row-header[data-category="cat-EURO1"] {
  font-weight: 700;
}
.parallel .chart[data-selected="EURO1"] .connector[data-category="cat-EURO1"] .connector {
  stroke-width: 2;
  stroke-dasharray: none;
}
.parallel .chart[data-selected="EURO1"] .bar-label[data-category="cat-EURO1"] {
  opacity: 1;
}
.parallel .chart[data-selected="EURO1"] .bar[data-category="cat-EURO1"] {
  stroke-width: 2;
}
.parallel .chart[data-selected="EURO2"] .summary[data-category="cat-EURO2"],
.parallel .chart[data-selected="EURO2"] .row-header[data-category="cat-EURO2"] {
  font-weight: 700;
}
.parallel .chart[data-selected="EURO2"] .connector[data-category="cat-EURO2"] .connector {
  stroke-width: 2;
  stroke-dasharray: none;
}
.parallel .chart[data-selected="EURO2"] .bar-label[data-category="cat-EURO2"] {
  opacity: 1;
}
.parallel .chart[data-selected="EURO2"] .bar[data-category="cat-EURO2"] {
  stroke-width: 2;
}
.parallel .chart[data-selected="EURO3"] .summary[data-category="cat-EURO3"],
.parallel .chart[data-selected="EURO3"] .row-header[data-category="cat-EURO3"] {
  font-weight: 700;
}
.parallel .chart[data-selected="EURO3"] .connector[data-category="cat-EURO3"] .connector {
  stroke-width: 2;
  stroke-dasharray: none;
}
.parallel .chart[data-selected="EURO3"] .bar-label[data-category="cat-EURO3"] {
  opacity: 1;
}
.parallel .chart[data-selected="EURO3"] .bar[data-category="cat-euro3"] {
  stroke-width: 2;
}
.parallel .chart[data-selected="EURO4"] .summary[data-category="cat-EURO4"],
.parallel .chart[data-selected="EURO4"] .row-header[data-category="cat-EURO4"] {
  font-weight: 700;
}
.parallel .chart[data-selected="EURO4"] .connector[data-category="cat-EURO4"] .connector {
  stroke-width: 2;
  stroke-dasharray: none;
}
.parallel .chart[data-selected="EURO4"] .bar-label[data-category="cat-EURO4"] {
  opacity: 1;
}
.parallel .chart[data-selected="EURO4"] .bar[data-category="cat-EURO4"] {
  stroke-width: 2;
}
.parallel .chart[data-selected="EURO5"] .summary[data-category="cat-EURO5"],
.parallel .chart[data-selected="EURO5"] .row-header[data-category="cat-EURO5"] {
  font-weight: 700;
}
.parallel .chart[data-selected="EURO5"] .connector[data-category="cat-EURO5"] .connector {
  stroke-width: 2;
  stroke-dasharray: none;
}
.parallel .chart[data-selected="EURO5"] .bar-label[data-category="cat-EURO5"] {
  opacity: 1;
}
.parallel .chart[data-selected="EURO5"] .bar[data-category="cat-EURO5"] {
  stroke-width: 2;
}
.parallel .chart[data-selected="EURO6"] .summary[data-category="cat-EURO6"],
.parallel .chart[data-selected="EURO6"] .row-header[data-category="cat-EURO6"] {
  font-weight: 700;
}
.parallel .chart[data-selected="EURO6"] .connector[data-category="cat-EURO6"] .connector {
  stroke-width: 2;
  stroke-dasharray: none;
}
.parallel .chart[data-selected="EURO6"] .bar-label[data-category="cat-EURO6"] {
  opacity: 1;
}
.parallel .chart[data-selected="EURO6"] .bar[data-category="cat-EURO6"] {
  stroke-width: 2;
}
.parallel .chart[data-selected="ANC"] .summary[data-category="cat-ANC"],
.parallel .chart[data-selected="ANC"] .row-header[data-category="cat-ANC"] {
  font-weight: 700;
}
.parallel .chart[data-selected="ANC"] .connector[data-category="cat-ANC"] .connector {
  stroke-width: 2;
  stroke-dasharray: none;
}
.parallel .chart[data-selected="ANC"] .bar-label[data-category="cat-ANC"] {
  opacity: 1;
}
.parallel .chart[data-selected="ANC"] .bar[data-category="cat-ANC"] {
  stroke-width: 2;
}
.parallel .chart[data-selected="ANI"] .summary[data-category="cat-ANI"],
.parallel .chart[data-selected="ANI"] .row-header[data-category="cat-ANI"] {
  font-weight: 700;
}
.parallel .chart[data-selected="ANI"] .connector[data-category="cat-ANI"] .connector {
  stroke-width: 2;
  stroke-dasharray: none;
}
.parallel .chart[data-selected="ANI"] .bar-label[data-category="cat-ANI"] {
  opacity: 1;
}
.parallel .chart[data-selected="ANI"] .bar[data-category="cat-ANI"] {
  stroke-width: 2;
}

/* Charts */

.header {
  alignment-baseline: middle;
  font-size: 14px;
  font-weight: 300;
}

.column-header {
  font-weight: 500;
  text-anchor: middle;
}

.row-header {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  text-anchor: end;
}

.summary {
  cursor: pointer;
  font-size: 12px;
  alignment-baseline: middle;
}

.summary-year {
  text-anchor: middle;
}

.bar-label {
  alignment-baseline: top;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  text-anchor: middle;
}

.bar {
  opacity: 1;
}

.bar-cat-shadow {
  opacity: .25;
}

.connector {
  fill: none;
  stroke-width: 1;
  stroke-dasharray: 4 4;
}

.parallel-annotation-line {
  stroke: #2F4858;
  stroke-width: 1;
}

.parallel-annotation-circle {
  fill: #EDEAE3;
  stroke: #2F4858;
  stroke-width: 1;
}

.parallel-annotation-circle-3.selected {
  fill: #2F4858;
  stroke: #EDEAE3;
}

.parallel-annotation-circle-2.selected {
  fill: #2F4858;
  stroke: #EDEAE3;
}

.parallel-annotation-circle-1.selected {
  fill: #2F4858;
  stroke: #EDEAE3;
}

.parallel-annotation-title {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  text-anchor: middle;

}

.parallel-annotation-text {
  font-size: 12px;
  text-anchor: middle;
}

.parallel-annotation-title-2019,
.parallel-annotation-text-2019 {
  text-anchor: end;
}

.parallel-legend {
  alignment-baseline: middle;
  font-size: 12px;
}

.parallel-legend-line {
  stroke: #2F4858;
  stroke-dasharray: 4 1;
  stroke-width: 1;
}


/* Small Multiples */


.smallMultiples .chart {
  display: block;
}

.smallMultiples .chart .single {
  display: block;
  height: auto;
  margin: 0 auto 20px auto;
  position: relative;
  width: auto;
}

.smallMultiples .chart .single .container {
  display: block;
  margin: 0 auto;
  width: 340px;
}

.smallMultiples .chart .single svg {}

.smallMultiples .chart .single h3 {
  font-size: 14px;
  font-weight: 400;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
}

.smallMultiples .chart .single h3 {
  font-weight: 800;
  left: 50%;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 30px;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
}

.smallMultiples .chart .axis-label {
  font-size: 12px;
}

.smallMultiples .chart .annotation {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 1px 0 0 #EDEAE3,
    0 1px 0 #EDEAE3,
    -1px 0 0 #EDEAE3,
    0 -1px 0 #EDEAE3,
    1px 1px 0 #EDEAE3,
    -1px -1px 0 #EDEAE3,
    -1px 1px 0 #EDEAE3,
    1px -1px 0 #EDEAE3;
}

.smallMultiples .chart .numbers {
  font-size: 12px;
  font-weight: 500;
  text-shadow: 1px 0 0 #EDEAE3,
    0 1px 0 #EDEAE3,
    -1px 0 0 #EDEAE3,
    0 -1px 0 #EDEAE3,
    1px 1px 0 #EDEAE3,
    -1px -1px 0 #EDEAE3,
    -1px 1px 0 #EDEAE3,
    1px -1px 0 #EDEAE3;
}

/* Pollution */
.pollution .chart .pollution-axis-label {
  alignment-baseline: top;
  font-size: 14px;
  font-weight: 500;
  text-anchor: middle;
}

.pollution .pollution-annotation {
  alignment-baseline: bottom;
  font-size: 12px;
  font-weight: 500;
  text-anchor: middle;
}

.pollution .pollution-circle {
  fill: #fff;
  stroke: #2F4858;
  stroke-width: 1;
}

.pollution .pollution-circle.shadow {
  fill: #EDEAE3;
  stroke: #6F8884;
  stroke-dasharray: 2 2;
}

.pollution .chart .pollution-line-guide {
  stroke: #2F4858;
  stroke-width: 1;
  stroke-dasharray: none;
}

.pollution .chart .pollution-line-guide.shadow {
  stroke: #6F8884;
  stroke-dasharray: 2 2;
}

.pollution .pollution-line {
  fill: none;
  stroke-width: 1;
  stroke-dasharray: 4 4;
}

.pollution .chart-title {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0 0 0;
  text-align: center;
}

.pollution .chart-title span {
  font-weight: 500;
}

.pollution .chart-container {
  margin: 0 0 60px 0;
}

.pollution .pollution-limit {
  stroke: #9D4E7A;
  stroke-width: 1;
  stroke-dasharray: 4 2;
}

.pollution .pollution-annotation-limit {
  alignment-baseline: top;
  fill: #9D4E7A;
  text-anchor: start;
}

/* Detail mode */

.confronta {
  background: #fff;
  border: 1px solid #2F4858;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  transform: translate3d(0, -100%, 0);
}

body.collapsed .confronta,
body.collapsed .collapsible {
  display: none;
}

body.collapsed .chart-wrapper {
  margin-bottom: 0;
}

body.collapsed .wrapper {
  padding-top: 80px;
}

body.collapsed .wrapper::after {
  background: repeating-linear-gradient(
    90deg,
    #EDEAE3,
    #EDEAE3 80px,
    #ffffff 80px,
    #ffffff 160px
  );
  bottom: -80px;
  content: '';
  display: block;
  height: auto;
  left: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 1;
}

body.collapsed::before {
  background: #fff;
  border: 1px solid #2F4858;
  border-radius: 5px;
  content: '× Chiudi';
  font-size: 12px;
  font-weight: 600;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  /* pointer-events: none; */
  position: fixed;
  right: 20px;
  text-transform: uppercase;
  top: 20px;
  z-index: 9;
}