body {
  background: #EDEAE3;
  border: 0;
  color: #2F4858;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a,
a:visited,
a:link,
a:hover {
  color: #2F4858;
}

p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper {
  display: block;
  margin: 0;
  width: auto;
}

svg text {
  fill: #2F4858;
}

.assets {
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

/* Header */

header {
  display: block;
  margin: 80px 20px;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto 40px auto;
  text-align: center;
}

/* Texts */

.text {
  display: block;
  margin: 40px 20px;
  width: auto;
}

.text .title {
  font-size: 16px;
  font-weight: 900;
  margin: 0 0 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.text .body p {
  margin: 0 0 20px 0;
}

.text .body p:last-child {
  margin-bottom: 0;
}

.text .body p strong {
  background: #FDF9F0;
  box-shadow: 0 0 0 2px #FDF9F0;;
  font-weight: 700;
}

/* Footer */

.footer {
  background: #2F4858;
  border: 0;
  color: #EDEAE3;
  display: block;
  margin-top: 80px;
  padding: 80px 0;
  width: auto;
}

.sources {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  width: auto;
}

.cols {
  display: block;
  margin: 0 20px;
  width: auto;
}

/* Charts */

.chart-wrapper {
  display: block;
  margin: 0 0 80px 0;
  position: relative;
}

.chart-wrapper.scroll:after {
  bottom: 0;
  content: '← Scroll →';
  display: block;
  font-size: 12px;
  font-weight: 600;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  transform: translate3d(-50%, 100%, 0);
}

.chart-all {
  display: block;
  height: auto;
  margin: 0 0 80px 0;
  max-width: 100%;
  overflow: scroll;
  padding: 0 0 30px 0;
  position: relative;
  width: 100%;
}

/* Lollipop */

.lollipop .chart {
  display: block;
}

.lollipop .chart .line-legend {
  width: 100%;
}

.lollipop .chart .line-line-2,
.lollipop .chart .line-line {
  fill: none;
  stroke-width: 1;
  stroke-dasharray: 4 4;
}

.lollipop .chart .line-line-2 {
  stroke: #0084C4;
}

.lollipop .chart .line-dot-ab,
.lollipop .chart .line-dot {
  fill: #fff;
  stroke: #2F4858;
  stroke-width: 1;
}

.lollipop .chart .line-dot-ab {
  stroke: #0084C4;
}

.lollipop .chart .line-label-ab,
.lollipop .chart .line-axis-label,
.lollipop .chart .line-label {
  alignment-baseline: bottom;
  font-size: 12px;
}

.lollipop .chart .line-label-ab {
  fill: #0084C4;
}

.lollipop .chart .line-axis-label {
  alignment-baseline: top;
  font-size: 14px;
  font-weight: 500;
  text-anchor: middle;
}

.lollipop .chart .line-guide-ab,
.lollipop .chart .line-guide {
  stroke: #2F4858;
  stroke-width: 1;
  stroke-dasharray: none;
}

.lollipop .chart .line-guide-ab {
  stroke: #0084C4;
  stroke-dasharray: 1 2;
}

.lollipop .chart .line-legend {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.lollipop .chart .line-legend .legend-residente {
  color: #0084C4;
  font-size: 14px;
  padding: 0 10px;
}

.lollipop .chart .line-legend .legend-auto {
  font-size: 14px;
  padding: 0 10px;
}




/* Parallel */

.header {
  alignment-baseline: middle;
  font-size: 14px;
  font-weight: 300;
}

.column-header {
  font-weight: 500;
  text-anchor: middle;
}

.row-header {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  text-anchor: end;
}

.row-header.selected {
  font-weight: 700;
}

.summary {
  cursor: pointer;
  font-size: 12px;
  alignment-baseline: middle;
}

.summary.selected {
  font-weight: 700;
}

.summary-year {
  text-anchor: middle;
}

.bar-label {
  alignment-baseline: top;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  text-anchor: middle;

}

.bar-label.selected {
  opacity: 1;
}

.bar {
  opacity: 1;
  stroke-width: 1;
}

.bar.selected {
  opacity: 1;
}

.bar-cat-shadow {
  opacity: .15;
}

.connector {
  fill: none;
  stroke-width: 1;
  stroke-dasharray: 4 4;
}

.parallel-annotation-line {
  stroke: #2F4858;
  stroke-width: 1;
}

.parallel-annotation-circle {
  fill: #EDEAE3;
  stroke: #2F4858;
  stroke-width: 1;
}

.parallel-annotation-circle-3.selected {
  fill: #2F4858;
  stroke: #EDEAE3;
}

.parallel-annotation-circle-2.selected {
  fill: #2F4858;
  stroke: #EDEAE3;
}

.parallel-annotation-circle-1.selected {
  fill: #2F4858;
  stroke: #EDEAE3;
}

.parallel-annotation-title {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  text-anchor: middle;

}

.parallel-annotation-text {
  font-size: 12px;
  text-anchor: middle;
}

.parallel-annotation-title-2019,
.parallel-annotation-text-2019 {
  text-anchor: end;
}

.parallel-legend {
  alignment-baseline: middle;
  font-size: 12px;
}

.parallel-legend-line {
  stroke: #2F4858;
  stroke-dasharray: 4 1;
  stroke-width: 1;
}


/* Small Multiples */


.smallMultiples .chart {
  display: block;
}

.smallMultiples .chart .single {
  display: block;
  height: auto;
  margin: 0 auto 20px auto;
  position: relative;
  width: auto;
}

.smallMultiples .chart .single .container {
  display: block;
  margin: 0 auto;
  width: 340px;
}

.smallMultiples .chart .single svg {}

.smallMultiples .chart .single h3 {
  font-size: 14px;
  font-weight: 400;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
}

.smallMultiples .chart .single h3 {
  font-weight: 800;
  left: 50%;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 30px;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
}

.smallMultiples .chart .axis-label {
  font-size: 12px;
}

.smallMultiples .chart .annotation {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 1px 0 0 #EDEAE3,
    0 1px 0 #EDEAE3,
    -1px 0 0 #EDEAE3,
    0 -1px 0 #EDEAE3,
    1px 1px 0 #EDEAE3,
    -1px -1px 0 #EDEAE3,
    -1px 1px 0 #EDEAE3,
    1px -1px 0 #EDEAE3;
}

.smallMultiples .chart .numbers {
  font-size: 12px;
  font-weight: 500;
  text-shadow: 1px 0 0 #EDEAE3,
    0 1px 0 #EDEAE3,
    -1px 0 0 #EDEAE3,
    0 -1px 0 #EDEAE3,
    1px 1px 0 #EDEAE3,
    -1px -1px 0 #EDEAE3,
    -1px 1px 0 #EDEAE3,
    1px -1px 0 #EDEAE3;
}