body {
  background: #EDEAE3;
  border: 0;
  color: #2F4858;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a,
a:visited,
a:link,
a:hover {
  color: #2F4858;
}

p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 1200px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto 40px auto;
  max-width: 600px;
  text-align: center;
}

svg text {
  fill: #2F4858;
}

.header {
  alignment-baseline: middle;
  font-size: 14px;
  font-weight: 300;
}

.column-header {
  font-weight: 500;
  text-anchor: middle;
}

.row-header {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  text-anchor: end;
}

.row-header.selected {
  font-weight: 700;
}

.summary {
  cursor: pointer;
  font-size: 12px;
  alignment-baseline: middle;
}

.summary.selected {
  font-weight: 700;
}

.summary-year {
  text-anchor: middle;
}

.bar-label {
  alignment-baseline: top;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  text-anchor: middle;

}

.bar-label.selected {
  opacity: 1;
}

.bar {
  opacity: 1;
  stroke-width: 1;
}

.bar.selected {
  opacity: 1;
}

.bar-cat-shadow {
  opacity: .15;
}

.line-line-2,
.line-line,
.connector {
  fill: none;
  stroke-width: 1;
  stroke-dasharray: 4 4;
}

.line-line-2 {
  stroke: #0084C4;
}

.line-dot-ab,
.line-dot {
  fill: #fff;
  stroke: #2F4858;
  stroke-width: 1;
}

.line-dot-ab {
  stroke: #0084C4;
}

.parallel-annotation-line {
  stroke: #2F4858;
  stroke-width: 1;
}

.parallel-annotation-circle {
  fill: #EDEAE3;
  stroke: #2F4858;
  stroke-width: 1;
}

.parallel-annotation-circle-3.selected {
  fill: #2F4858;
  stroke: #EDEAE3;
}

.parallel-annotation-circle-2.selected {
  fill: #2F4858;
  stroke: #EDEAE3;
}

.parallel-annotation-circle-1.selected {
  fill: #2F4858;
  stroke: #EDEAE3;
}

.parallel-annotation-title {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  text-anchor: middle;

}

.parallel-annotation-text {
  font-size: 12px;
  text-anchor: middle;
}

.parallel-annotation-title-2019,
.parallel-annotation-text-2019 {
  text-anchor: end;
}

.parallel-legend {
  alignment-baseline: middle;
  font-size: 12px;
}

.parallel-legend-line {
  stroke: #2F4858;
  stroke-dasharray: 4 1;
  stroke-width: 1;
}

#line {
  display: inline-block;
  margin: 0 auto;
  width: 1200px;
}

#line .line-legend {
  width: 100%;
}

.line-label-ab,
.line-axis-label,
.line-label {
  alignment-baseline: bottom;
  font-size: 12px;
}

.line-label-ab {
  fill: #0084C4;
}

.line-axis-label {
  alignment-baseline: top;
  font-size: 14px;
  font-weight: 500;
  text-anchor: middle;
}

.line-guide-ab,
.line-guide {
  stroke: #2F4858;
  stroke-width: 1;
  stroke-dasharray: none;
}

.line-guide-ab {
  stroke: #0084C4;
  stroke-dasharray: 1 2;
}

.line-legend {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.line-legend .legend-residente {
  color: #0084C4;
  font-size: 14px;
  padding: 0 10px;
}

.line-legend .legend-auto {
  font-size: 14px;
  padding: 0 10px;
}

#small-m {
  display: flex;
  flex-wrap: wrap;
}

.single {
  display: block;
  flex: 0 0 33.33%;
  height: 220px;
  margin-bottom: 20px;
  min-height: 100px;
  position: relative;
}

.single .container {
  bottom: 10px;
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.single svg {
  left: 0;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.single h3 {
  font-size: 14px;
  font-weight: 400;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
}

.single h4 {
  font-weight: 800;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 30px;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
}

.axis-label {
  font-size: 12px;
}

.annotation {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 1px 0 0 #EDEAE3,
    0 1px 0 #EDEAE3,
    -1px 0 0 #EDEAE3,
    0 -1px 0 #EDEAE3,
    1px 1px 0 #EDEAE3,
    -1px -1px 0 #EDEAE3,
    -1px 1px 0 #EDEAE3,
    1px -1px 0 #EDEAE3;
}

.numbers {
  font-size: 12px;
  font-weight: 500;
  text-shadow: 1px 0 0 #EDEAE3,
    0 1px 0 #EDEAE3,
    -1px 0 0 #EDEAE3,
    0 -1px 0 #EDEAE3,
    1px 1px 0 #EDEAE3,
    -1px -1px 0 #EDEAE3,
    -1px 1px 0 #EDEAE3,
    1px -1px 0 #EDEAE3;
}

header {
  margin: 160px 0;
}

.text {
  display: block;
  margin: 40px auto;
  width: 900px;
}

.text .title {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.text .body {
  columns: 2;
}

.text .body p {
  margin: 0 0 20px 0;
}

.text .body p:last-child {
  margin-bottom: 0;
}

.text .body p strong {
  background: #FDF9F0;
  box-shadow: 0 0 0 2px #FDF9F0;;
  font-weight: 700;
}

.assets {
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.footer {
  background: #2F4858;
  border: 0;
  color: #EDEAE3;
  display: block;
  margin-top: 80px;
  padding: 80px 0;
  width: auto;
}

.sources {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  width: 900px;
}

.cols {
  display: flex;
  margin: 0 auto;
  width: 900px;
}

.footer .col {
  flex: 0 0 70%;
  padding: 0 20px;
}

.footer .corporate {
  flex: 0 0 30%;
}