.pictogram {
  font-family: Montserrat, sans-serif;
}

.prezziMedi {
  display: block;
  margin: 0 auto;
}

.prezziMedi .prezziMediWrapper {
  display: block;
}

@media screen and (min-width: 768px) {
  .prezziMedi .prezziMediWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px;
  }
}

.prezziMedi .carburante {
  display: block;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .prezziMedi .carburante {
    flex: 0 0 50%;
    padding: 0 20px;
  }
}

.prezziMedi .titolo h3 {
  font-size: 12px;
  font-weight: 800;
  margin: 0 0 10px 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .prezziMedi .titolo h3 {
    margin-left: 0;
  }
}

.prezziMedi .chart {
  display: block;
  height: 50px;
  position: relative;
  width: 100%;
}

.prezziMedi .background {
  background: rgba(255, 255, 255, .1);
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: auto;
}

.prezziMedi .background .label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  left: 0;
  line-height: 20px;
  padding-left: 2px;
  position: absolute;
  top: 100%;
  white-space: nowrap;
}

.prezziMedi .background .label small {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .prezziMedi .background .label {
    padding: 0;
    transform: translate3d(-50%, 0, 0);
  }
}

.prezziMedi .shadow {
  background: rgba(111, 136, 132, .5);
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: auto;
}

.prezziMedi .bar {
  background: rgb(111, 136, 132, 1);
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: auto;
}

.prezziMedi .avg,
.prezziMedi .max,
.prezziMedi .min {
  background: transparent;
  display: block;
  height: 10;
  left: 0;
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.prezziMedi .min::before {
  background: rgb(111, 136, 132, 1);
  content: '';
  display: block;
  height: 8px;
  width: 1px;
}

.prezziMedi .max::before {
  background: rgb(111, 136, 132, 1);
  content: '';
  display: block;
  height: 8px;
  width: 1px;
}

.prezziMedi .avg {
  transform: translate3d(-50%, -50%, 0);
}

.prezziMedi .avg::before {
  background: rgb(111, 136, 132, 1);
  content: '';
  display: block;
  height: 8px;
  width: 1px;
}

.prezziMedi .label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  left: auto;
  line-height: 20px;
  padding-left: 2px;
  position: absolute;
  right: 100%;
  text-align: right;
  top: 100%;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
}

.prezziMedi .min .label::after {
  border-bottom: 3px solid rgb(111, 136, 132, 1);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  content: '';
  height: 0;
  left: 100%;
  position: absolute;
  top: -1px;
  transform: translate3d(-2.5px, 0, 0);
  width: 0;
}

.prezziMedi .max .label {
  left: 100%;
  line-height: 20px;
  padding-left: 0;
  padding-right: 2px;
  right: auto;
  text-align: left;
  white-space: nowrap;
}

.prezziMedi .max .label::after {
  border-bottom: 3px solid rgb(111, 136, 132, 1);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: -1px;
  transform: translate3d(-3.5px, 0, 0);
  width: 0;
}

.prezziMedi .avg .label {
  bottom: 100%;
  left: auto;
  padding: 0;
  right: auto;
  text-align: center;
  top: auto;
  transform: translate3d(-50%, 0, 0);
  white-space: nowrap;
}

.prezziMedi .avg .label::after {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgb(111, 136, 132, 1);
  bottom: -1px;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate3d(-2.5px, 0, 0);
  width: 0;
}

.estremo {
  margin-bottom: 40px;
}

.estremo .titolo {
  flex: 0 0 100%;
  margin-bottom: 20px;
  text-align: center;
}

.estremo .titolo h3 {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

.estremo .chart {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -20px;
}

.estremo .chart .alti,
.estremo .chart .bassi {
  flex: 0 0 50%;
  padding: 0 20px;
  text-align: left;
}

@media screen and (min-width:768px) {
  .estremo .chart .alti,
  .estremo .chart .bassi {
    flex: 0 0 40%;
  }
}

.estremo .chart .bassi {
  text-align: right;
}

.estremo .chart .divisorio {
  display: none;
  flex: 0 0 20%;
  padding: 20px;
}

@media screen and (min-width:768px) {
  .estremo .chart .divisorio {
    display: block;
  }
}

.estremo .chart h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  margin: 0 0 20px 0;
  width: auto;
}

.estremo .chart .bassi h2 {
  text-align: right;
}

.estremo .chart h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  width: auto;
}

.estremo .item {
  display: block;
}

.estremo .item .limit {
  max-width: 300px;
}

.estremo .bassi .item .limit {
  margin-left: auto;
}

.estremo .item h4 {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

.estremo .item p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0;
  text-transform: capitalize;
}