body {
  min-height: 100vh;
}

.pictogram {
  font-family: Montserrat, sans-serif;
}

.text {
  position: relative;
}

.notes {
  font-size: 12px;
  font-style: italic;
}

.group {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .group {
    margin-bottom: 80px;
  }
}

.text .title {
  font-size: 14px;
}

.text .title.selection {
  font-size: 16px;
} 

.text .title strong {
  color: #E9995B;
  font-weight: 900;
}

.selection {
  background: #EDEAE3;
  position: sticky;
  top: 0;
  z-index: 99;
}

.selector {
  border-bottom: 2px dotted #E9995B;
  color: #E9995B;
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 0 auto 40px auto;
  max-width: 220px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

@media screen and (min-width: 768px) {
  .selector {
    display: inline-block;
    margin: 20px auto;
    padding: 0 20px;
    text-align: left;
    min-width: 220px;
  }
}

.selector .list {
  background: #EDEAE3;
  border: 1px solid #2F4858;
  display: none;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: auto;
  z-index: 99;
}

.selector:hover .list,
.selector:active .list {
  display: block;
}

.selector .list ul,
.selector .list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selector li.item {
  border-bottom: 1px solid #2F4858;
  display: block;
  height: 30px;
  line-height: 29px;
  padding: 0 20px;
  white-space: nowrap;
}

.selector .item:last-child {
  border-bottom: none;
}

.selector a,
.selector a:link,
.selector a:visited,
.selector a:visited {
  color: #2F4858;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.selector a:active,
.selector a:hover {
  color: #E9995B;
}

.selector .item.selected a {
  font-weight: 900;
}

.prezziMedi {
  display: block;
  margin: 0 auto;
}

.prezziMedi .chart-wrapper {
  margin: 0;
}

.prezziMedi .prezziMediWrapper {
  display: block;
}

.prezziMedi .carburante {
  display: block;
}

.prezziMedi .chart {
  display: block;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.prezziMedi .background {
  background: rgba(255, 255, 255, .2);
  display: block;
  height: 14px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: auto;
}

.prezziMedi .background .label {
  color: #9EB0A2;
  display: block;
  font-size: 12px;
  font-weight: 400;
  height: 20px;
  left: 0;
  line-height: 20px;
  position: absolute;
  top: 100%;
  white-space: nowrap;
}

.prezziMedi .background .label::after {
  background: #9EB0A2;
  bottom: 100%;
  content: '';
  display: block;
  height: 14px;
  left: 0;
  position: absolute;
  width: 1px;
}

.prezziMedi .background .label.label-max::after {
  left: auto;
  right: -2px;
}

.prezziMedi .background .label.label-max {
  display: block;
  left: auto;
  right: 0;
  text-align: right;
}

.prezziMedi .background .label small {
  font-weight: 400;
}

.prezziMedi .shadow {
  background: rgba(158, 176, 162, .15);
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: auto;
}

.prezziMedi .bar {
  background: #9EB0A2;
  background: linear-gradient(90deg, #00C9AC 0%, #FF907B 100%);
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: auto;
}

.prezziMedi .avg,
.prezziMedi .max,
.prezziMedi .min {
  background: transparent;
  display: block;
  height: 20;
  left: 0;
  padding: 0 2px 0 0;
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate3d(-100%, -50%, 0);
}

.prezziMedi .min::before {
  background: #00C9AC;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  height: 8px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 1px;
}

.prezziMedi .max {
  padding: 0 0 0 2px;
  transform: translate3d(0, -50%, 0);
}

.prezziMedi .max::before {
  background: #FF907B;
  content: '';
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 1px;
}

.prezziMedi .avg {
  transform: translate3d(-50%, calc(-100% - 10px), 0);
}

.prezziMedi .avg::before {
  background: #43B1A0;
  content: '';
  display: block;
  height: 12px;
  left: 50%;
  position: absolute;
  top: calc(100% - 2px);
  transform: translate3d(-50%, 0, 0);
  width: 1px;
}

.prezziMedi .avg::after {
  background: #43B1A0;
  border-radius: 50%;
  content: '';
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translate3d(-50%, 7px, 0);
  width: 5px;
}

.prezziMedi .label {
  color: #43B1A0;
  display: block;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  padding-left: 2px;
  text-align: right;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
}

.prezziMedi .min .label {
  color: #00C9AC;
}

.prezziMedi .max .label {
  color: #FF907B;
}

.prezziMedi .avg .label {}

.estremo {
  margin-bottom: 40px;
}

.estremo .titolo {
  flex: 0 0 100%;
  margin-bottom: 20px;
  text-align: center;
}

.estremo .titolo h3 {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

.estremo .chart {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -20px;
}

.estremo .chart .alti,
.estremo .chart .bassi {
  flex: 0 0 50%;
  padding: 0 20px;
  text-align: left;
}

@media screen and (min-width:768px) {
  .estremo .chart .alti,
  .estremo .chart .bassi {
    flex: 0 0 40%;
  }
}

.estremo .chart .bassi {
  text-align: right;
}

.estremo .chart .divisorio {
  display: none;
  flex: 0 0 20%;
  padding: 20px;
  position: relative;
}

.estremo .chart .divisorio::before {
  border-top: 2px dotted #9EB0A2;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 22px;
}

.estremo .chart .divisorio::after {
  background: #EDEAE3;
  border: 0px solid #9EB0A2;
  border-radius: 50%;
  content: '⛽️';
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 36px;
  left: 50%;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 4px;
  transform: translate3d(-50%, 0, 0);
  width: 36px;
}

@media screen and (min-width:768px) {
  .estremo .chart .divisorio {
    display: block;
  }
}

.estremo .chart h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  margin: 0 0 20px 0;
  width: auto;
}

.estremo .chart .bassi h2 {
  text-align: right;
}

.estremo .chart h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  width: auto;
}

.estremo .item {
  display: block;
  margin-bottom: 20px;
}

.estremo .item .limit {
  max-width: 300px;
}

.estremo .bassi .item .limit {
  margin-left: auto;
}

.estremo .item h4 {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

.estremo .item p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0;
  text-transform: capitalize;
}

.item button {
  background: transparent;
  border: none;
  cursor:zoom-in;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-decoration: underline;
}

.cars {
  display: block;
}

.cars .cars-wrapper {
  display: block;
}

.cars .single-car {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .cars .single-car {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
  }
}

.cars .charts,
.cars .description {
  display: block;
}

@media screen and (min-width: 768px) {
  .cars .description {
    flex: 0 0 150px;
    padding-right: 20px;
  }

  .cars .charts {
    flex: 0 0 auto;
    padding-top: 20px;
  }
}

.cars .description h4 {
  font-size: 12px;
  margin: 0;
}

.cars .description dl {
  display: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 140px;
}

@media screen and (min-width: 768px) {
  .cars .description dl {
    display: block;
  }
}

.cars .description dd,
.cars .description dt {
  display: block;
  font-size: 8px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  white-space: wrap;
  width: 100%;
}

.cars .description dd {
  font-weight: 600;
  text-transform: uppercase;
}

.cars .chart {
  display: block;
  height: 40px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cars .chart {
    flex: 0 0 auto;
  }
}

.cars .chart h6 {
  font-size: 8px;
  font-weight: 200;
  left: 0;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  white-space: nowrap;
}

.cars .chart .bar {
  background: rgba(158, 176, 162, .15);
  height: 12px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.cars .chart-min .bar {
  background: #00C9AC;
}

.cars .chart-avg .bar {
  background: #43B1A0;
}

.cars .chart-max .bar {
  background: #FF907B;
}

.cars .chart .label {
  font-size: 10px;
  font-weight: 600;
  padding-left: 2px;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.cars .chart .label.invert {
  color: #fff;
  padding: 0 2px 0 0;
  transform: translate3d(-100%, -50%, 0);
}